# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Gradle
build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.classpath
.project
.settings/

# VSCode
.vscode/

# Logs
logs/
*.log

# Compiled class file
*.class

# Package files
*.jar
*.war
*.ear

# Local configuration file (Spring Boot)
application-local.properties

# Thumbs files
Thumbs.db

# macOS
.DS_Store

# Windows
Desktop.ini
